{
    "ip": "",
    "displayed_ip": "",
    "base_port": 2302,

    "mission_path": "",
    "mission_name": "",
    
    "db_ip": "",
    "db_port": 3306,
    "db_user": "",
    "db_pass": "",
    "db_db": "",

    "service_role_id": 0,
    "channel_id": 0,

    "token": ""
}